

{#versión paginada #}

{% extends 'base.html.twig' %}

{% block title %}Temazos index{% endblock %}

{% block body %}
    
 {# total items count #}

 {% if app.user %}
    
 <h1>Listas de reproducción </h1>
<table >
    <tr>
        {# sorting of properties based on query components #}
        <th><b>{{ knp_pagination_sortable(pagination, 'Lista ', 'a.id') }}</b></th>
        <th><b>{{ knp_pagination_sortable(pagination, 'Author de la lista', 'a.id') }}</b></th>
        <th><b>{{ knp_pagination_sortable(pagination, 'Canciones', 'a.id') }}</b></th> 
    </tr>

    {# table body #}
    {% for listareproduccion in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
          
          <tr>
                <td>
                
                <a href="{{ path('app_listareproduccion_show', {'id': listareproduccion.id}) }}">    {{ listareproduccion.titulolista }}</a>
                
                </td>
                <td>{{ listareproduccion.user }}</td>
               
 <td>
            {% for cancion in listareproduccion.canciones %}
              <a href="{{ path('app_temazo_show', {'id': cancion.id}) }}">    
              
                <li>{{ cancion.titulo }}.
                {# {{ cancion.duracion }} </li></a> #}
              <b>  {% set minutos= cancion.duracion /60 %}
                     {{minutos|round(0, 'floor')}}:{{ cancion.duracion % 60}} </b></li></a>
                {% if not loop.last %}  {% endif %}
              {% endfor %}
           </td>
                <td>
                    
                     <a  class="original-button"  href="{{ path('app_listareproduccion_edit', {'id': listareproduccion.id}) }}">edit</a>
                </td>
            </tr>      
        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

 {#
Si no estás logueado, te da un agradable mensaje de bienvenida, acompañado de un gatito cool
#}

{% else %}

<p><a  href="{{ path('app_register') }}">  Regístrate </a> o   <a  href="{{ path('app_login') }}">login en nuestra plataforma <a>para acceder a servicios musicales personalizados<p>
<img class="fotoHeader" width="40%" src="/images/Leonardo_Diffusion_a_smiling_cute_blue_cat_with_headphones_we_0.jpg"> 
<p class="littleCenter">Image Powered by <a href="https://leonardo.ai/">Leonardo.ai <p>
{% endif %}
{% endblock %}
