

{#versión paginada #}

{% extends 'base.html.twig' %}

{% block title %}Temazos index{% endblock %}

{% block body %}
    <h1>Listas de reproducción </h1>
 {# total items count #}

 {#
<div class="count">
    {{ pagination.getTotalItemCount }}

</div>

#}
<table >
    <tr>
        {# sorting of properties based on query components #}
        <th><b>{{ knp_pagination_sortable(pagination, 'Lista ', 'a.id') }}</b></th>
        <th><b>{{ knp_pagination_sortable(pagination, 'Author de la lista', 'a.id') }}</b></th>
         <th><b>{{ knp_pagination_sortable(pagination, 'Canciones', 'a.id') }}</b></th>
  

        
    </tr>

    {# table body #}
    {% for listareproduccion in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
          
          <tr>
                
                <td>
                
                <a href="{{ path('app_listareproduccion_show', {'id': listareproduccion.id}) }}">    {{ listareproduccion.titulolista }}</a>
                
                </td>
                <td>{{ listareproduccion.user }}</td>
               
 <td>
            {% for cancion in listareproduccion.canciones %}
              <a href="{{ path('app_temazo_show', {'id': cancion.id}) }}">    
              
                <li>{{ cancion.titulo }}.
                {# {{ cancion.duracion }} </li></a> #}
              <b>  {% set minutos= cancion.duracion /60 %}
                     {{minutos|round(0, 'floor')}}:{{ cancion.duracion % 60}} </b></li></a>
                {% if not loop.last %}  {% endif %}
              {% endfor %}
           </td>


                
{#                          
                     {% set minutos=  temazo.duracion /60 %}
                     {{minutos |round(0, 'floor') }} minutos,
                    {{ temazo.duracion  % 60}} segundos. Total segs:{{temazo.duracion}}
              
  #}              
                


                <td>
                    
                     <a  class="original-button"  href="{{ path('app_listareproduccion_edit', {'id': listareproduccion.id}) }}">edit</a>
                </td>
            </tr>

    {#
    #}
            
        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}











{# 
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    {% if app.user %}
 
  <h1>Mis listas de reproduccion</h1>
 <table class="table table-striped">
        <thead >
            <tr>
           
                <th><b>Titulo de la lista</b></th>
                <th><b>Autor de  la lista</b></th>
                <th><b>Títulos de canciones de la lista</b></th>
                <th><b>Duración de las canciones</b></th>
                 <th><b>Sumatorio de las canciones</b></th>
                 <th><b>Número total de canciones de la lista</b></th>
         
            </tr>
        </thead>
        <tbody>
           {% set duracion = '' %}
        {% for listareproduccion in listareproduccions %}
            <tr>
             <td>  <a href="{{ path('app_listareproduccion_show', {'id': listareproduccion.id}) }}">    {{ listareproduccion.titulolista }}</a></td>
   
                <td>{{ listareproduccion.user }}</td>
                
         <td>
            {% for cancion in listareproduccion.canciones %}
              <a href="{{ path('app_temazo_show', {'id': cancion.id}) }}">    
              
                <li>{{ cancion.titulo }} duración:
                 {{ cancion.duracion }} </li></a>

                {% if not loop.last %}  {% endif %}
              {% endfor %}
           </td>
         <td>
  
 {% set NumeroCanciones = 0 %}
 {% set duracionTotal = 0 %}

            {% for cancion in listareproduccion.canciones %}
              {% set NumeroCanciones = NumeroCanciones + 1 %}
          <li>    {{ cancion.duracion}} </li>
              {% set duracion =  cancion.duracion %}  
              {% set duracionTotal = duracionTotal + cancion.duracion %}
              {% if not loop.last %} {% endif %}
             {% endfor %}
              </td>
                  <td> 
                   <li>                 
                     {% set minutos= duracionTotal /60 %}
                     {{minutos|round(0, 'floor')}}:{{ duracionTotal % 60}} 
                     </li>
                    </td>
                 <td> 
                    {{NumeroCanciones}} 
            </tr>   
           {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
     {% endif %}
{% endblock %}
#}